extends ../layout/tong-quan-layout.pug

block title
  title Cài đặt chung

block main
  .content
    .section-10 
      img(src="assets/image/error.svg", alt="")
      div Trang này không tồn tại...
      a(href="#") Trở về trang tổng quan 