extends ../layout/page-layout.pug
block title
  title Đổi mật khẩu

block main
  .page-layout
    .inner-wrap 
      div.inner-title Đổi mật khẩu
      div.inner-content Vui lòng nhập mật khẩu để tiếp tục
      form#change-password.inner-block 
        .inner-item
          label(for="password") Mật khẩu mới
          input.pass(type="password", id="password")
        .inner-item
          label(for="confirm-password") Xác nhận mật khẩu
          input.pass(type="password", id="confirm-password")
        button Thay đổi
        .create 
          span Bạn đã nhớ mật khẩu?     
          a(href="#") Đăng nhập