extends ../layout/page-layout.pug
block title
  title Nhập mã OTP

block main
  .page-layout
    .inner-wrap 
      div.inner-title Nhập mã OTP
      div.inner-content Vui lòng nhập mã OTP để tiếp tục
      .inner-block 
        .inner-item
          label(for="otp") Mã OTP
          input(type="text", id="otp", placeholder="Mã OTP")
        button Xác thực
        .create 
          span Bạn đã nhớ mật khẩu?   
          a(href="#") Đăng nhập