extends ../layout/tong-quan-layout.pug

block title
    title Tạo danh mục

block main
    .content
        .inner-title Tạo danh mục
        .section-8 
            .inner-group 
                label(for="name") Tên danh mục
                input(type="text" id="name" )
            .inner-group 
                label(for="parent") Danh mục cha
                select#parent(name="") 
                    option -- Chọn danh mục --
            .inner-group 
                label(for="position") Vị trí
                input(type="number" id="position")
            .inner-group 
                label(for="state") Trạng thái
                select#state(name="")
                    option Hoạt động
            .inner-group.two-col 
                div.avatar 
                    label(for="avatar") Ảnh đại diện
                    div
                        input(type="file")
            .inner-group.two-col 
                div.des
                    label(for="des") Mô tả
                    textarea#des(name="" textarea-mce) 
            .inner-group.two-col
                div.button
                    button Tạo mới
            .inner-group.two-col
                div.return
                    a(href="#") Quay lại danh sách


                        
